/* You can add global styles to this file, and also import other style files */
:root {
    font-size: 18px;
    --tui-font-heading: -apple-system, "BlinkMacSystemFont", system-ui, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    --tui-font-text: -apple-system, "BlinkMacSystemFont", system-ui, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
}
