:host {
    display: block;
    padding-block: 1rem;
}

.entries-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 1rem;
}

.diary-name {
    margin: 0;
}
