<nav>
    <h2>Primary</h2>

    <a
        routerLink="add"
        tuiButton
    >
        Add
    </a>
</nav>

<div class="entries-container">
    @for (entry of entries.value(); track entry.id) {
        <article
            tuiAppearance="floating"
            tuiCardLarge
        >
            <a
                tuiLink
                [routerLink]="entry.id.toString()"
            >
                @if (entry.title) {
                    <header tuiHeader>
                        <h3 tuiTitle>{{ entry.title }}</h3>
                    </header>
                }
                <div>
                    <tui-line-clamp
                        [content]="entry.content"
                        [linesLimit]="5"
                    />
                </div>
                <footer>
                    {{ entry.created_at | date: "EEEE, MMM d" }}
                </footer>
            </a>
        </article>
    }
</div>
