.entries-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

.diary-name {
    margin: 0;
}
