<nav tuiSubheader compact>
    <h2>Primary</h2>

    <a tuiButton routerLink="add">Add</a>

    <tui-textfield iconStart="search">
        <input type="search" tuiTextfield placeholder="Search...">
    </tui-textfield>
</nav>

<div class="entries-container">
    @for (entry of entries.value(); track entry.id) {
        <article tuiCardLarge tuiAppearance="floating">
            <a tuiLink [routerLink]="entry.id">
                @if (entry.title) {
                    <header tuiHeader>
                        <h3 tuiTitle>{{entry.title}}</h3>
                    </header>
                }
                <div>
                    <tui-line-clamp
                        [content]="entry.content"
                        [linesLimit]="5"
                    />
                </div>
                <footer>
                    {{entry.created_at | date: "EEEE, MMM d"}}
                </footer>
            </a>
        </article>
    }
</div>
