:host {
    display: flex;
    background-color: var(--tui-background-base-alt);
    block-size: 100dvh;
}

/*
aside {
    height: 100dvh;
    top: 0 !important;
}

.section-header {
    display: flex;
    justify-content: space-between !important;
}

.section-header .title {
    text-transform: uppercase;
    font: var(--tui-font-text-xs);
    color: var(--tui-text-secondary);
}
*/

aside {
    flex: none;
    inline-size: 15rem;
    margin-block: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background-color: var(--tui-background-base);
    margin: 1rem 1rem 1rem 0;
    /*padding: 1rem;*/
    border-radius: var(--tui-radius-m);
    overflow-block: auto;
}

.diaries {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.diaries-nav {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.diaries-nav > [tuiButton],
.profile > [tuiButton] {
    justify-content: start;
}

.aside-header {
    margin-block-end: 1rem;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
