<aside>
    <header class="aside-header" tuiHeader="h4">
        <hgroup tuiTitle>
            <h1>
                <tui-badged-content>
                    <tui-badge tuiSlot="top" size="s" appearance="accent">Beta</tui-badge>
                    <span style="color: var(--tui-text-primary);">Kastle</span>
                </tui-badged-content>
            </h1>
        </hgroup>

        <!-- TODO: Add sidebar collapse button -->
        <!--        <button tuiIconButton iconStart="panel-left-close" type="button" appearance="flat-grayscale" size="m">Close sidebar</button>-->
    </header>

    <section class="diaries">
        <header tuiHeader="body-m">
            <hgroup tuiTitle>
                <h4>Diaries</h4>
            </hgroup>

            <div tuiAccessories>
                <button type="button" tuiIconButton appearance="flat-grayscale" size="s" iconStart="plus"
                        (click)="openDiaryUpsertDialog()">Add new diary
                </button>
            </div>
        </header>

        <nav class="diaries-nav">
            @for (diary of diaryLinks(); track diary.id) {
                <div class="diary-link-container">
                    <a
                        tuiButton
                        [iconStart]="diary.icon"
                        size="m"
                        appearance="flat-grayscale"
                        [routerLink]="diary.url"
                        routerLinkActive
                        appAsideItemRouterLinkActiveSync
                        class="diary-link aside-button"
                    >
                        {{ diary.name }}

                        <!-- TODO: Add entries count by diary -->
                        <!--                        <tui-badge size="s" appearance="neutral">3</tui-badge>-->
                    </a>

                    @if (diary.id > 0) {
                        <button
                            class="diary-actions-button"
                            appearance="flat-grayscale"
                            iconStart="ellipsis"
                            size="s"
                            tuiDropdownOpen
                            tuiIconButton
                            type="button"
                            [tuiDropdown]="menu"
                        >
                            <ng-template #menu>
                                <tui-data-list size="s">
                                    <button
                                        iconStart="pencil"
                                        new
                                        tuiOption
                                        type="button"
                                        (click)="openDiaryUpsertDialog(diary)"
                                    >
                                        Edit
                                    </button>
                                    <button
                                        iconStart="trash"
                                        new
                                        tuiAppearance="flat-destructive"
                                        tuiOption
                                        type="button"
                                        [disabled]="true"
                                    >
                                        Delete
                                    </button>
                                </tui-data-list>
                            </ng-template>
                        </button>
                    }
                </div>
            }
        </nav>
    </section>

    <section class="profile">
        <button
            appearance="flat-grayscale"
            size="m"
            tuiDropdownOpen
            tuiButton
            type="button"
            [tuiDropdown]="menu"
            class="aside-button"
            [tuiSkeleton]="user.isLoading()"
        >
            <tui-avatar
                size="xs"
                src="@tui.user"
            />

            <span>
                @if (user.isLoading()) {
                    {{ "johndoe@gmail.com" }}
                } @else {
                    {{ user.value()!.email }}
                }
            </span>

            <ng-template #menu>
                <tui-data-list>
                    <button
                        iconStart="settings"
                        new
                        tuiOption
                        type="button"
                    >
                        Settings
                    </button>
                    <!-- TODO: Add profile edit -->
                    <button
                        iconStart="user"
                        new
                        tuiOption
                        type="button"
                        [disabled]="true"
                    >
                        Profile
                    </button>
                    <button
                        iconStart="bookmark"
                        new
                        tuiOption
                        type="button"
                        (click)="logOut()"
                    >
                        Log out
                    </button>
                </tui-data-list>
            </ng-template>
        </button>
    </section>
</aside>

<main class="container">
    <router-outlet/>
</main>
