:host {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
