:host {
    block-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-block: auto;
    position: relative;
}

:host::ng-deep .ProseMirror {
    min-block-size: 10lh;
    block-size: 100%;
}

:host::ng-deep .ProseMirror *:first-child {
    margin-block-start: 0;
}

:host::ng-deep .ProseMirror *:last-child {
    margin-block-end: 0;
}

:host::ng-deep .tiptap p.is-editor-empty:first-child::before {
    color: var(--tui-text-secondary);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.entry-title-input {
    font: var(--tui-font-heading-6);
}

.entry-title-input::ng-deep .t-placeholder {
    color: var(--tui-text-secondary);
}

:host.is-drag-active .drop-here-overlay {
    display: block;
}

.drop-here-overlay {
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    background: #ffffff38;
    border: 1px dashed white;
    box-sizing: border-box;
    display: none;
}

.entry-attachment {
    inline-size: 250px;
    aspect-ratio: 1;
    object-fit: cover;
}

.entry-attachments-container {
    display: flex;
    gap: 0.5rem;
    overflow-inline: auto;
}
