<nav compact tuiSubheader>
    <!--    <button type="button" tuiIconButton iconStart="@tui.paperclip">
            Attach file or image
        </button>
        <button
            type="button"
            tuiIconButton
            iconStart="@tui.ellipsis"
            [tuiDropdown]="entrySettingsDropdownContent"
            [(tuiDropdownOpen)]="isExtraMenuOpened"
        >
            Entry settings

            <ng-template
                #entrySettingsDropdownContent
                let-close
            >
                <tui-data-list>
                    <button type="button" tuiOption (click)="close()">Entry Date</button>
                </tui-data-list>
            </ng-template>
        </button>-->
    <a [routerLink]="backUrl()" tuiLink iconStart="chevron-left">Back</a>

    <!-- spacer -->
    <div style="flex-grow: 1"></div>

    <div>
        <button tuiIconButton iconStart="paperclip" type="button">Attach image</button>
        <button form="app-upsert-diary-entry-form" type="submit" tuiButton>Save</button>
    </div>
</nav>

<form id="app-upsert-diary-entry-form" [formGroup]="form" (submit.prevent)="save()">
    <!--    <label tuiInputFiles>
            <input
                accept="image/*"
                tuiInputFiles
                [formControl]="files"
                [multiple]="true"
                size="s"
            />
        </label>-->
    <tui-input-inline class="entry-title-input">
        Title
        <input type="text" formControlName="title">
    </tui-input-inline>
    <div>
        <tiptap-editor [editor]="editor" formControlName="content"/>
    </div>
</form>
