<nav>
    <a
        appearance="action-grayscale"
        iconStart="chevron-left"
        tuiLink
        [routerLink]="backUrl()"
    >
        Back
    </a>

    <button
        iconStart="image"
        size="s"
        tuiIconButton
        type="button"
        (click)="attachImages()"
    >
        Attach images
    </button>

    <button
        size="s"
        tuiButton
        type="button"
        (click)="saveEntry()"
    >
        Save
    </button>
</nav>

<div class="entry-attachments-container">
    @for (attachment of attachments(); track attachment) {
        @if (attachment.isLoading) {
            <div [tuiSkeleton]="true" class="entry-attachment"></div>
        } @else {
            <img class="entry-attachment" [attr.src]="attachment.url" alt="">
        }
    }
</div>

<tui-input-inline class="entry-title-input">
    Title
    <input
        type="text"
        [formControl]="form.controls.title"
    />
</tui-input-inline>

<tiptap-editor
    outputFormat="json"
    [editor]="editor"
    [formControl]="form.controls.content"
/>
